.main_div {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgb(204, 203, 203);
}

.card-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  flex-wrap: wrap;
}
.sell_div {
  /* display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column; */
  width: 50%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  margin-left: 5px;
}
